.container1{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 10px;
    background-color: black;
}
div h1{
    color:white;
    /* background-color: whitesmoke; */
   
}
div h1 span{
    color:grey
}
body{
    background-color: rgba(0, 0, 0, 0.925);
    
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    
}
.card-body .card{
    width: 250px;
    margin: 30px;
}
.search{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
}